---
---
@import 'rig/rig';

// CUSTOM VARIABLES SECTION

$cMainNav:          #000000;
$cMainNavHover:     $_cBlue;

$cImg:              $_cDarkgrey;
$cImgBorder:        $_cWhite;

$cPageHeaderBorder: rgba($_cWhite, .2);
$cPageHeader:       $_cWhite;
$cPageHeaderBg:     $_cOrange;

$cAsideBg:          #f3f6fb;

$cFooter:           $_cWhite;
$cFooterBg:         $_cDarkgrey;

@import 'docs/nav';
@import 'docs/header';
@import 'docs/search';
@import 'docs/page';
@import 'docs/rouge';
@import 'docs/swift';
@import 'docs/footer';
@import 'docs/gist'
